.Card {
  display: inline-block;
  cursor: pointer;
  color: #808488;
  font-size: 12px;
  flex: 23%;
  margin-right: 12px;
  margin-bottom: 12px;
  max-width: 23%;
}

.Card img {
  max-width: 100%;
}

.Card h4,
.Card h2 {
  font-size: medium;
  color: #1c1d1f;
  display: -webkit-box;
  overflow: hidden;
  font-weight: bolder;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0px 0 4px 0;
  text-overflow: ellipsis;
}

.ratingDiv {
  margin-bottom: 4px;
  font-weight: bolder;
  display: inline-block;
  color: #e59819;
}

.author {
  display: -webkit-box;
  color: #808488;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: horizontal;
  text-overflow: ellipsis;
}

@media screen and (max-width: 800px) {
  .CardDes {
    display: inline-block;
  }
}

.Card img {
  margin-right: 12px;
  margin-bottom: 8px;
  max-width: 200px;
  display: inline-block;
  max-height: 200px;
  width: 100%;
}

/* .CardDes {
  display: flex;
  margin-left: 0px;
  margin-bottom: 8px;
  flex: 100%;
  max-width: 100%;
} */

.Card h2 {
  font-size: 20px;
}
